button,
input[type="submit"],
input[type="reset"]{
    padding: var(--generalPadding);
    font-size: 18px;
    border: 1px solid var(--black2);
    border-radius: var(--generalBorderRadius2);
    color: var(--pureWhite);
    background-color: var(--black5);
}

.buttonBlue{
    background-color: var(--blue5);
}
.buttonGreen{
    background-color: var(--green1);
}


.generalRadius{
    border-radius: var(--generalBorderRadius);
}

.specialMenu1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.transition1{
    transition: all 300ms;
}

h1{
	font-size: 55px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 14px;
}
