button,
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="password"]{
    padding: var(--generalPadding);
    font-size: 18px;
    border: 1px solid var(--black2);
    border-radius: var(--generalBorderRadius2);
}

button,
input[type="submit"],
input[type="reset"]{
    color: var(--pureWhite);
    background-color: var(--black5);
}

.buttonBlue{
    background: linear-gradient(to bottom, var(--blue5), var(--blue6));
}
.buttonGreen{
    background-color: var(--green1);
}


.generalRadius{
    border-radius: var(--generalBorderRadius);
}

.specialMenu1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
}

.transition1{
    transition: all 300ms;
}

h1{
	font-size: 55px;
}
h2{
	font-size: 40px;
}
h3{
	font-size: 28px;
}
h4{
	font-size: 20px;
}
h5{
	font-size: 18px;
}
h6{
	font-size: 14px;
}

.specialForm1 button,
.specialForm1 input[type="submit"],
.specialForm1 input[type="reset"]{
    background: linear-gradient(to bottom, var(--blue5), var(--blue6));
}

.specialForm1 input[type="text"],
.specialForm1 input[type="password"]{
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid var(--black2);
    outline: 0;
    transition: border 250ms;
}

.specialForm1 input[type="text"]:disabled,
.specialForm1 input[type="password"]:disabled{
    background-color: var(--whiteGray);
    color: var(--pureBlack);
}

.specialForm1 input[type="text"]:focus,
.specialForm1 input[type="password"]:focus{
    border-bottom: 2px solid var(--blue5);
}
